extends layout

block content

    #cursor
        .cursor__circle
    style.
        section{padding-top: 2vh;padding-bottom: 10vh;}
    section
        .logocontainer
            .imgContainer
                img(src='https://static.clubcypher.club/img/decypher.png' alt='decypher' cursor-class='arrow')
            h1.title Registrations for De(c)ypher will start in a few hours.
    script.
        function navfunction() {
          document.getElementsByClassName('js-toggle-menu')[0].classList.toggle('open');
          document.getElementById("main").classList.toggle('temp-body')
          document.getElementsByClassName("hidden")[0].classList.toggle("notHidden")
        };
        window.addEventListener("DOMContentLoaded", function(event) {
          if(document.getElementById('username')) {
            document.getElementById('username').addEventListener('input', function(){
              this.value = this.value.replace(/\s+/g, '').toLowerCase();
            });
          }
        });