footer
    .imp-links
        .left-footer
            h2
                | (c)ync will be held on 2nd of August. All events will be conducted on the internet.
            br
            p
                | For any further queries, please contact Mr. Anurag Sehgal: +91
                | 7869119509
            p
                | The results will be declared on 11th of August. See you there!
        .right-footer
            h2 More Links
            .links
                .right1
                    ul
                        li
                            a(href='/events') Events
                        li
                            a(href='/register') Register
                        li
                            a(href='/login') Login
                .right2
                    ul
                        li
                            a(href='https://www.instagram.com/cypherdps/' rel="noreferrer" target='_blank') Instagram
                        li
                            a(href='https://discord.gg/RBCVPkJhFz' target='_blank') Discord
                        li
                            a(href='https://www.youtube.com/channel/UCSULXN5apeQSDa0sLYuwEnA' rel="noreferrer" target='_blank') YouTube
    .last
        p With &#x1F497; from (c)lub (c)ypher
    script(src='https://static.clubcypher.club/js/three.min.js' crossOrigin="anonymous")
    script(src='https://static.clubcypher.club/js/index.js' crossOrigin="anonymous")    
