doctype html
html(lang='en')
    head 
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title (c)ypher
        meta(name='description', content='This website is created by and for the tech club of DPS Bhopal - Team (c)ypher.')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="shortcut icon" href="https://static.clubcypher.club/img/cypher.png?v=1" type="image/x-icon")
        link(rel="preload" as="font" href="https://static.clubcypher.club/font/Barlow2.woff2" crossOrigin="anonymous")
        link(rel='stylesheet preload' href='https://static.clubcypher.club/css/index.css' as='style')
        link(rel="preload" href="https://static.clubcypher.club/js/three.min.js" as="script" crossOrigin="anonymous")
        link(rel="preload" href="https://static.clubcypher.club/js/index.js" as="script" crossOrigin="anonymous")

    body
        header
            .logo
                a.handletter(href='/home')
                    img(src='https://static.clubcypher.club/img/cync_logo-converted.png' cursor-class='arrow' alt='cync')
            img.mob-logo(src='https://static.clubcypher.club/img/cync_logo-converted.png' cursor-class='arrow' alt='cync')
            #mobilenavdiv.mobile-menu-toggle.js-toggle-menu.hamburger-menu(onclick='navfunction()')
                span.menu-item
                span.menu-item
                span.menu-item
            nav.navbar.desktop-nav
                if currentUser
                    ul
                        li
                            a(href='/home' cursor-class='arrow') Home
                        li
                            a(href='/decypher' cursor-class='arrow') De(c)ypher
                        li
                            a(href='/events' cursor-class='arrow') Events
                        li
                            a(href='/dashboard' cursor-class='arrow') Dashboard
                        li
                            a(href='/logout' cursor-class='arrow') Logout from #{currentUser.username}
                else
                    ul
                        li
                            a(href='/home' cursor-class='arrow') Home
                        li
                            a(href='/decypher' cursor-class='arrow') De(c)ypher
                        li
                            a(href='/events' cursor-class='arrow') Events
                        li
                            a(href='/login' cursor-class='arrow') Login
                        li
                            a(href='/register' cursor-class='arrow') Register
            nav#nav.mobile-nav.hidden
                if currentUser
                    ul
                        li
                            a(href='/home' cursor-class='arrow') Home
                        li
                            a(href='/decypher' cursor-class='arrow') De(c)ypher
                        li
                            a(href='/events' cursor-class='arrow') Events
                        li
                            a(href='/dashboard' cursor-class='arrow') Dashboard
                        li
                            a(href='/logout' cursor-class='arrow') Logout
                else
                    ul
                        li
                            a(href='/home' cursor-class='arrow') Home
                        li
                            a(href='/decypher' cursor-class='arrow') De(c)ypher
                        li
                            a(href='/events' cursor-class='arrow') Events
                        li
                            a(href='/login' cursor-class='arrow') Login
                        li
                            a(href='/register' cursor-class='arrow') Register
        .loader
            .loadcontainer
                .side
                    img(src='https://static.clubcypher.club/img/cypher.png' alt='cypher')
        #canvas
        #main
            section.landing
                #cursor
                    .cursor__circle
                .left
                    .text
                        h1(cursor-class='arrow') What is (c)ync ?
                        p(cursor-class='arrow')
                            | Started in Fall 2014, 
                            b (c)ync 
                            | is an initiative by 
                            b (c)lub (c)ypher 
                            | to celebrate and promote the spirit of technology and human intelligence.
                            br
                            br
                            | It is one of the foundational tech fests in the state of Madhya Pradesh and for keeping the torch ablaze, the event 
                            b (c)ync v7.0 
                            | goes live on 
                            b 2nd August, 2021
                            | . The event will consist of 4 thrilling events: 
                            b de(c)ypher
                            | , 
                            b (c)rosshair
                            | , 
                            b (c)lick
                            |  and 
                            b (c)lipped
                            | .
                        br
                        .btn-landing
                            a.btn(href='/register') Register
                .right
                    .timer
                        .row
                            .container-day(cursor-class='timerCursor')
                                h3.day Time
                                h3 Days
                            .container-hour(cursor-class='timerCursor')
                                h3.hour Time
                                h3 Hours
                        .row
                            .container-minute(cursor-class='timerCursor')
                                h3.minute Time
                                h3 Minutes
                            .container-second(cursor-class='timerCursor')
                                h3.second Time
                                h3 Seconds
            section.cync
                .left-cync
                    .left-box
                        p.logo-p (c)
                        .logo-text
                            h1
                            | (c)lub  (c)ypher
                .right-cync
                    .right-box
                        p
                            | (c)lub (c)ypher is a team that believes that a piece of code is mightier than a pen as well as a sword, a team that excels in various fields such as computer programming ,web development, photography, video editing and many more, a team that fascinates people by its creations, and draws people to the magnificent and unexplored world of computers.
                            br
                            br
                            | Moreover, it is a team of innovation and excellence and one that believes in doing the impossible!
            footer
                .imp-links
                    .left-footer
                        h2
                            | (c)ync will be held on 2nd of August. All events will be conducted on the internet.
                        br
                        p
                            | For any further queries, please contact Mr. Anurag Sehgal: +91
                            | 7869119509
                        p
                            | The results will be declared on 11th of August. See you there!
                    .right-footer
                        h2 More Links
                        .links
                            .right1
                                ul
                                    li
                                        a(href='/events') Events
                                    li
                                        a(href='/register') Register
                                    li
                                        a(href='/login') Login
                            .right2
                                ul
                                    li
                                        a(href='https://www.instagram.com/cypherdps/' rel="noreferrer" target='_blank') Instagram
                                    li
                                        a(href='https://discord.gg/RBCVPkJhFz' target='_blank') Discord
                                    li
                                        a(href='https://www.youtube.com/channel/UCSULXN5apeQSDa0sLYuwEnA' rel="noreferrer" target='_blank') YouTube
                .last
                    p With &#x1F497; from (c)lub (c)ypher
            script(src='https://static.clubcypher.club/js/three.min.js' crossOrigin="anonymous")
            script(src='https://static.clubcypher.club/js/index.js' crossOrigin="anonymous")
            script.
                function navfunction() {
                    document.getElementsByClassName('js-toggle-menu')[0].classList.toggle('open');
                    document.getElementById("main").classList.toggle('temp-body')
                    document.getElementsByClassName("hidden")[0].classList.toggle("notHidden")
                };

