doctype html
html(lang='en')
  head 
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title (c)ypher
    meta(name='description', content='This website is created by and for the tech club of DPS Bhopal - Team (c)ypher.')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="https://static.clubcypher.club/img/cypher.png?v=1" type="image/x-icon")
    if alumnipage
        link(rel='stylesheet preload' href='https://static.clubcypher.club/css/index.css' as='style')
    else
        link(rel='stylesheet preload' href='https://static.clubcypher.club/css/register-student.css' as='style')
    link(rel="preload" href="https://static.clubcypher.club/js/three.min.js" as="script" crossOrigin="anonymous")
    link(rel="preload" href="https://static.clubcypher.club/js/index.js" as="script" crossOrigin="anonymous")
    link(rel="preload" as="font" href="https://static.clubcypher.club/font/Barlow2.woff2" crossOrigin="anonymous")
    link(rel="preload" as="font" href="https://static.clubcypher.club/font/Comfortaa2.woff2" crossOrigin="anonymous")
    link(rel="preload" as="font" href="https://static.clubcypher.club/font/Poppins2.woff2" crossOrigin="anonymous")
  body
    include header
    .loader
        .loadcontainer
            .side
                .one
                .two
                .three
    #canvas
    #main
        section
            block content
        
    include footer


