extends layout

block content
    style.
        body{overflow:hidden;}h1 a{color:red; border: 1.5px solid red;padding:20px;} h1 a:hover{color:#080808; background-color:red;}.buttons{display:flex;margin-top:-50px}section{height:100vh}
    #cursor
        .cursor__circle
    h1.title 
        | Logins and School Team Registrations will be available soon.
        br
        | You can still register your schools / yourselves for the event. 
        br
        | In case you forget your credentials, we will send them to your email!
    .buttons
        h1.title
            a(href='/register' cursor-class="timerCursor")  Register
        h1.title 
            a(href='javascript:window.history.back();' cursor-class="timerCursor") Go back
