extends layout

block content
  .card

    h1.form-title.error The event has been concluded. Please check the leaderboard for final scores.
    img(src='https://distracted-wescoff-b1d8d6.netlify.app/img/over.svg', alt='celebrate', class='end')
    //- h1.form-title.error Registration open from 10th July, 2019! Please wait patiently till Cyche boots up.

