extends layout

block content
    #cursor
        .cursor__circle
    .container1
        form.registerform(method='post' action='/participant/login')
            h1.title Participant Log In
            if error
                if errorcode == 'red'
                    p.error1= error
                else
                    p.error2= error
            .form-group
                label(for='username') Username:
                input#username(type='text' name='username' placeholder='Username' maxlength='20' required)
            .form-group
                label(for='password') Password:
                input(type='password', name='password', placeholder='Password', required)
            p Not yet registered? 
                b 
                    a(href='/register') Register Here
            input.btn(type='submit', value='Sign In')