extends layout

block content
    #cursor
        .cursor__circle
    .container1
        .card-container
            a(href='/school/register' cursor-class="arrow")
                .blog-card.spring-fever
                    .title-content
                        h3.firstelement.reg School Registration
                    .card-info
                        | If you're a teacher, register your school for the event here!
                        br
                        | (For the event - (c)rosshair)
                    .color-overlay
            a(href='/student/register' cursor-class="arrow")
                .blog-card.spring-fever
                    .title-content
                        h3.secondelement.reg Student Registration
                    .card-info
                        | If you're a student, register yourself for the event here!
                        br
                        | (For the events - (c)lick and (c)lipped)
                    .color-overlay
    script(src="https://static.clubcypher.club/js/vanilla-tilt.min.js")
    script.
        window.addEventListener("DOMContentLoaded", function(event) {
            if(document.getElementById('username')) {
                document.getElementById('username').addEventListener('input', function(){
                    this.value = this.value.replace(/\s+/g, '').toLowerCase();
                });
            }
        });
        const test = document.querySelector(".card-school");

        const h2 = document.querySelector(".firstcard");

        const card = document.querySelector(".blog-card");

        const info = document.querySelector(".info");

        const cross = document.querySelector(".cross");

        card.addEventListener("click", function (e) {
            card.classList.toggle("is-flipped");
        });

        card.addEventListener("click", function (e) {
            card.classList.toggle("is-flipped");
        });

        VanillaTilt.init(document.querySelectorAll(".blog-card"),{
            max: 10,
            speed: 600,
            scale: 1,
            transition: true,
            easing: "cubic-bezier(0.6,.98,.52,.99)",
            perspective: 600,
            glare: true
        });

