extends layout

block content

    #cursor
        .cursor__circle
    .errorcontainer
        p.error3 NOTE: For the events (c)lick and (c)lipped, students can register themselves individually on the register page.
    h1.title Registrations for this event have been closed.
      script.
        function navfunction() {
          document.getElementsByClassName('js-toggle-menu')[0].classList.toggle('open');
          document.getElementById("main").classList.toggle('temp-body')
          document.getElementsByClassName("hidden")[0].classList.toggle("notHidden")
        };
        window.addEventListener("DOMContentLoaded", function(event) {
          if(document.getElementById('username')) {
            document.getElementById('username').addEventListener('input', function(){
              this.value = this.value.replace(/\s+/g, '').toLowerCase();
            });
          }
        });