extends layout

block content
    #cursor
        .cursor__circle
    .container1
        .card-container
            a(href='/student/register/click' cursor-class="arrow")
                .blog-card.spring-fever
                    .title-content
                        h3.firstelement Register for (C)lick
                    .card-info
                        | The photography contest crafted for the best of the photographers out there!
                        | Participants will be tested on the basis of two skills: Photography and editing.
                        | Register now if you think you have the superpower of narrating a thousand words and feelings in one single click.
                        | All while gaining a shot at winning the grand prizes!
                    .color-overlay
            a(href='/student/register/clipped' cursor-class="arrow")
                .blog-card.spring-fever
                    .title-content
                        h3.secondelement Register for (C)lipped
                    .card-info
                        | The video editing competition that evens the playing field, allowing the participants to show their skills as they craft a masterpiece out of mere individual video clips. 
                        | Register now if you have a knack for spotting the sharpest details out of seemingly ordinary settings and transforming them into awe-inspiring landscapes, and ofcourse for the prizes that everyone dreams of!
                    .color-overlay
    script(src="https://static.clubcypher.club/js/vanilla-tilt.min.js")
    script.
        window.addEventListener("DOMContentLoaded", function(event) {
            if(document.getElementById('username')) {
                document.getElementById('username').addEventListener('input', function(){
                    this.value = this.value.replace(/\s+/g, '').toLowerCase();
                });
            }
        });
        const test = document.querySelector(".card-school");

        const h2 = document.querySelector(".firstcard");

        const card = document.querySelector(".blog-card");

        const info = document.querySelector(".info");

        const cross = document.querySelector(".cross");

        card.addEventListener("click", function (e) {
            card.classList.toggle("is-flipped");
        });

        card.addEventListener("click", function (e) {
            card.classList.toggle("is-flipped");
        });

        VanillaTilt.init(document.querySelectorAll(".blog-card"),{
            max: 10,
            speed: 600,
            scale: 1,
            transition: true,
            easing: "cubic-bezier(0.6,.98,.52,.99)",
            perspective: 600,
            glare: true
        });

