extends layout

block content
    #cursor
        .cursor__circle
    .container1
        form.registerform(method='post' action='/school/register')
            h1.title 
                | School Registration
            if error
                if errorcode == 'red'
                    p.error1= error
                else
                    p.error2= error
            .form-group
                label(for='username')
                    | Username
                input#username(type='text' name='username' placeholder='eg. elonmusk' maxlength='20' required='required')
            .form-group
                label(for='teachername') Teacher In-Charge Name
                input(type='text' name='teachername' placeholder='eg. Elon Musk' maxlength='20' required='required')
            .form-group
                label(for='teachernumber') Teacher In-Charge Number
                input(type='number' name='teachernumber' placeholder='eg. 9876543210' maxlength='10' required='required')
            .form-group
                label(for='schoolname') School / Institution Name
                input(type='text' name='schoolname' placeholder='eg. Delhi Public School' maxlength='45' required='required')
            .form-group
                label(for='schoolemail') School / Institution Email
                input(type='text' name='schoolemail' placeholder='eg. DPS@gmail.com' maxlength='70' required='required')
            .form-group
                label(for='password') Password
                input(type='password' name='password' autocomplete='off' placeholder='eg. Tesla' required='required')
            .form-group
                label(for='passwordConfirm') Confirm Password
                input(type='password' name='passwordConfirm' autocomplete='off' placeholder='eg. Tesla' required='required')
            p.registerpage
                | Already registered ? 
                a.register(href='/school/login' cursor-class='arrow') Login
            input.btn(type='submit' value='Register')
    script.
        window.addEventListener("DOMContentLoaded", function(event) {
            if(document.getElementById('username')) {
                document.getElementById('username').addEventListener('input', function(){
                    this.value = this.value.replace(/\s+/g, '').toLowerCase();
                });
            }
        });