extends layout

block content
    #cursor
        .cursor__circle
    .container1
        form.registerform(method='post' action='/student/login')
            h1.title Student Login
            if error
                if errorcode == 'red'
                    p.error1= error
                else
                    p.error2= error
            .form-group
                label(for='username') Username:
                input#username(type='text' name='username' placeholder='Username' maxlength='70' required)
            .form-group
                label(for='password') Password:
                input(type='password', name='password', placeholder='Password', required)
            p Not yet registered? 
                b 
                    a(href='/register') Register Here
            input.btn(type='submit', value='Sign In')
    script.
        window.addEventListener("DOMContentLoaded", function(event) {
            if(document.getElementById('username')) {
                document.getElementById('username').addEventListener('input', function(){
                    this.value = this.value.replace(/\s+/g, '').toLowerCase();
                });
            }
        });