extends layout

block content
    style.
        ::-webkit-scrollbar {
            width: 13px;
            z-index: -1;
            cursor: crosshair;
        }

        ::-webkit-scrollbar-thumb {
            border: 5px solid transparent;
            background-clip: content-box;
            border-radius: 100px;
            background-color: #FFBF00;
        }
        ::-webkit-scrollbar-track {
            background: #98720B;
            border: 7px solid transparent;
            background-clip: content-box;
        }

        ::selection {
            background-color: #D8BB5D;
            color: #000;
        }
        .cursor__circle {
            border: solid 1px #D8BB5D;
        }
        #cursor.golden .cursor__circle {
            width: 128px;
            height: 128px;
            background-color: #D8BB5D;
            border-color: #D8BB5D;
        }
        #cursor.golden::after {
            content: "";
            position: absolute;
            left: -50%;
            top: -50%;
            width: 100%;
            height: 100%;
        }

        section{
            height:100vh;
            width:100vw;
        }
        header > * {
            color: #FFBF00;
        }
        a{
            color: #FFBF00;
        }
        .hamburger-menu .menu-item{
            background: #FFBF00;
        }
        footer{
            border-top: 1px solid #FFBF00;
        }
        footer > * {
            color: #FFBF00;
        }
        .logo img{
            height: 100px;
        }
        @media (max-width:750px){
            .mob-logo{
                max-height: 60px;
            }
        }
        @media (min-width:750px) and (max-width:1112px){
            .mob-logo{
                max-height: 80px;
                height: 80px;
            }
            .hamburger-menu{
                margin-top:0;
            }
        }
        .bande{
            display:flex;
            flex-flow:column;
            align-items:center;
            justify-content: space-around;
        }
        .banda{
            display:flex;
            width: 100vw;
            align-items:center;
            justify-content: center;

        }
        .bandacontent{
            display:flex;
            flex-flow:column;
            padding:50px;
            width:70%
        }
        .bandacontent h2{
            padding: 50px 0;
        }
        .bandacontent p{
            padding: 50px 0;
        }
        .bandaphoto img{
            width: 10vw;
            height: 12vw;
            min-height: 140px;
            min-width: 105px;
        }
    #cursor
        .cursor__circle
    .container1
    .bande
        .banda
            .bandacontent
                h2 Dhruv Bhatia
                p Dhruv Bhatia, or Q.I., was the head decypher and head coder for club cypher in the year 2020. He is a prolific coder with experience in web dev and ML with an intense passion to solve real-world problems using logic and reasoning. He is currently a sophomore in rhe University of Arizona double majoring in Computer Science and Information, Science, Technology and Arts.
            .bandaphoto
                img(src='https://64.media.tumblr.com/651ebdc5fc9a456d74ecdca8d5221c8f/7736be729a570387-93/s1280x1920/7158168af52db3cbf46e2ea106079bb9711c5993.jpg')

            