extends layout

block content
    style.

    .card.leaderboard
        h1 Dashboard

        a(href='/logout') Logout

    include footer
    script.
        document.getElementById("dashboardnav").classList.toggle("active");

        document.getElementById("navswitch1").classList.add("navswitch1")
        document.getElementById("navswitch3").classList.add("navswitch1")
        document.getElementsByClassName("menu-item")[0].classList.add("navham")
        document.getElementsByClassName("menu-item")[1].classList.add("navham")
        document.getElementsByClassName("menu-item")[2].classList.add("navham")
        document.getElementsByClassName("navswitch2")[0].classList.add("navswitch2color")
        document.getElementsByClassName("navswitch2")[1].classList.add("navswitch2color")
        document.getElementsByClassName("navswitch2")[2].classList.add("navswitch2color")
        document.getElementsByClassName("navswitch2")[3].classList.add("navswitch2color")
        document.getElementsByClassName("navswitch2")[4].classList.add("navswitch2color")
        document.getElementsByClassName("navswitch2")[5].classList.add("navswitch2color")
        document.getElementsByClassName("navswitch2")[6].classList.add("navswitch2color")
        document.getElementsByClassName("active")[0].classList.add("navswitch3color")

        $(document).ready(function () {
            $(window).scroll(function(){
                var ScrollTop = parseInt($(window).scrollTop());
                if (ScrollTop < 900) {
                    document.getElementById("navswitch1").classList.add("navswitch1")
                    document.getElementById("navswitch3").classList.add("navswitch1")
                    document.getElementsByClassName("menu-item")[0].classList.add("navham")
                    document.getElementsByClassName("menu-item")[1].classList.add("navham")
                    document.getElementsByClassName("menu-item")[2].classList.add("navham")
                    document.getElementsByClassName("navswitch2")[0].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[1].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[2].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[3].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[4].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[5].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[6].classList.add("navswitch2color")
                    document.getElementsByClassName("active")[0].classList.add("navswitch3color")
                }
                else{
                    document.getElementById("navswitch1").classList.remove("navswitch1")
                    document.getElementById("navswitch3").classList.remove("navswitch1")
                    document.getElementsByClassName("menu-item")[0].classList.remove("navham")
                    document.getElementsByClassName("menu-item")[1].classList.remove("navham")
                    document.getElementsByClassName("menu-item")[2].classList.remove("navham")
                    document.getElementsByClassName("navswitch2")[0].classList.remove("navswitch2color")
                    document.getElementsByClassName("navswitch2")[1].classList.remove("navswitch2color")
                    document.getElementsByClassName("navswitch2")[2].classList.remove("navswitch2color")
                    document.getElementsByClassName("navswitch2")[3].classList.remove("navswitch2color")
                    document.getElementsByClassName("navswitch2")[4].classList.remove("navswitch2color")
                    document.getElementsByClassName("navswitch2")[5].classList.remove("navswitch2color")
                    document.getElementsByClassName("navswitch2")[6].classList.remove("navswitch2color")
                    document.getElementsByClassName("active")[0].classList.remove("navswitch3color")
                }
            });
        });       
