doctype html
html(lang='en')
    head

        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        meta(name='author', content='Minerva ')
        meta(name='web-author', content='Aroraji https://aroraji.wtf')
        meta(name='theme-color', content='#FFFFFF')
        link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
        link(rel='manifest', href='/favicon/site.webmanifest')
        meta(name='robots', content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1')
        title Minerva MUN
        meta(name='description', content="Minerva MUN is a leading full service education firm, home to India's best student advocates providing the country with exceptional experiences and solutions.")
        link(rel='canonical', href='https://www.minervamun.com/')
        meta(property='og:locale', content='en_US')
        meta(property='og:type', content='website')
        meta(property='og:title', content='Minerva MUN')
        meta(property='og:description', content="Minerva MUN is a leading full service education firm, home to India's best student advocates providing the country with exceptional experiences and solutions.")
        meta(property='og:url', content='https://www.minervamun.com/')
        meta(property='og:site_name', content='Minerva MUN')
        link(rel='dns-prefetch', href='//cdnjs.cloudflare.com')
        link(rel='dns-prefetch', href='//www.google.com')
        link(rel='dns-prefetch', href='//s.w.org')
        title Minerva &middot; #{title}
        link(rel="shortcut icon" href="/favicon/favicon.ico?v=1" type="image/x-icon")
        link(rel='stylesheet', href='/css/style.css')        
        meta(name='theme-color', content='#f5f5f5')
        script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    body
        include header
        #main
            block content
