extends layout

block content
    h1.title Add a Committee
    if error
        p.error= error
    form.registerform(method='post', action='/admin/add-committee')
        textarea(placeholder='Committee Name', name='CommitteeName' required)
        textarea(placeholder='Committee Code', name='CommitteeCode' required)
        textarea(placeholder='Committee State', name='CommitteeState' required)
        textarea(placeholder='Committee City', name='CommitteeCity' required)
        input(type='submit', value='Add Committee')
    include footer
    script.
        $(document).ready(function () {
            document.getElementById("navswitch1").classList.add("navswitch1")
            document.getElementById("navswitch3").classList.add("navswitch1")
            document.getElementsByClassName("menu-item")[0].classList.add("navham")
            document.getElementsByClassName("menu-item")[1].classList.add("navham")
            document.getElementsByClassName("menu-item")[2].classList.add("navham")
            document.getElementsByClassName("navswitch2")[0].classList.add("navswitch2color")
            document.getElementsByClassName("navswitch2")[1].classList.add("navswitch2color")
            document.getElementsByClassName("navswitch2")[2].classList.add("navswitch2color")
            document.getElementsByClassName("navswitch2")[3].classList.add("navswitch2color")
            document.getElementsByClassName("navswitch2")[4].classList.add("navswitch2color")
            document.getElementsByClassName("navswitch2")[5].classList.add("navswitch2color")
            document.getElementsByClassName("navswitch2")[6].classList.add("navswitch2color")
            document.getElementsByClassName("active")[0].classList.add("navswitch3color")

            $(window).scroll(function(){
                var ScrollTop = parseInt($(window).scrollTop());
                if (ScrollTop > 800 && ScrollTop < 3200) {
                    document.getElementById("navswitch1").classList.add("navswitch1")
                    document.getElementById("navswitch3").classList.add("navswitch1")
                    document.getElementsByClassName("menu-item")[0].classList.add("navham")
                    document.getElementsByClassName("menu-item")[1].classList.add("navham")
                    document.getElementsByClassName("menu-item")[2].classList.add("navham")
                    document.getElementsByClassName("navswitch2")[0].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[1].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[2].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[3].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[4].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[5].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[6].classList.add("navswitch2color")
                    document.getElementsByClassName("active")[0].classList.add("navswitch3color")
                }
                else{
                    document.getElementById("navswitch1").classList.add("navswitch1")
                    document.getElementById("navswitch3").classList.add("navswitch1")
                    document.getElementsByClassName("menu-item")[0].classList.add("navham")
                    document.getElementsByClassName("menu-item")[1].classList.add("navham")
                    document.getElementsByClassName("menu-item")[2].classList.add("navham")
                    document.getElementsByClassName("navswitch2")[0].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[1].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[2].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[3].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[4].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[5].classList.add("navswitch2color")
                    document.getElementsByClassName("navswitch2")[6].classList.add("navswitch2color")
                    document.getElementsByClassName("active")[0].classList.add("navswitch3color")
                };
                if (ScrollTop > 1000) {
                    document.getElementById('masthead').classList.add('navshift')
                }
                else{
                    document.getElementById('masthead').classList.remove('navshift')
                }
            });
        });

            $(function() {
                $('#masthead').hover(function() {
                    var ScrollTop = parseInt($(window).scrollTop());
                    if (ScrollTop < 850) {
                        document.getElementById("navswitch1").classList.add("navswitch1")
                        document.getElementById("navswitch3").classList.add("navswitch1")
                        document.getElementsByClassName("menu-item")[0].classList.add("navham")
                        document.getElementsByClassName("menu-item")[1].classList.add("navham")
                        document.getElementsByClassName("menu-item")[2].classList.add("navham")
                        document.getElementsByClassName("navswitch2")[0].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[1].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[2].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[3].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[4].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[5].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[6].classList.add("navswitch2color")
                        document.getElementsByClassName("active")[0].classList.add("navswitch3color")
                    }
                }, function() {
                    var ScrollTop = parseInt($(window).scrollTop());
                    if (ScrollTop < 850) {
                        document.getElementById("navswitch1").classList.add("navswitch1")
                        document.getElementById("navswitch3").classList.add("navswitch1")
                        document.getElementsByClassName("menu-item")[0].classList.add("navham")
                        document.getElementsByClassName("menu-item")[1].classList.add("navham")
                        document.getElementsByClassName("menu-item")[2].classList.add("navham")
                        document.getElementsByClassName("navswitch2")[0].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[1].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[2].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[3].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[4].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[5].classList.add("navswitch2color")
                        document.getElementsByClassName("navswitch2")[6].classList.add("navswitch2color")
                        document.getElementsByClassName("active")[0].classList.add("navswitch3color")
                    }
                });
            });