include layout

h1 You are the Admin.
br
br
br
h1 Hey #{currentUser.name} !
br
br
h1
    a(href='/admin/1/users') Manage Users
br
h1
    a(href='/admin/1/fundraisers') Manage Fundraisers
br
h1
    a(href='/admin/1/surveillance') Manage Surveillance Admins
br
h1
    a(href='/admin/1/accounting') Manage Accounting Admins
br
h1
br
h1
br
h1
br