extends layout  
  
block content

  #wrapper
    #skip-navigation
    .layer.layer-hero.ko.first-layer.tall
      img(src='https://www.pitblado.com/wp-content/uploads/2020/09/pitblado-careers-1.jpg', alt='Minerva MUN Careers')
      .tinter(style='opacity: 0.2')
      .inner
        h1.huge
          span.mask
            span.text.text1 Careers
    .layer.layer-statement.first-layer
      .inner
        .text
          h3
            span.mask
              span.text.text1
                strong Join
                |  our 
                strong Team
    .layer.layer-one-column
      .inner
        .text
          p
            | Minerva MUN is a business-focused law firm that cares about people, is passionate about our community, and is driven by working together to deliver exceptional service and advice to the people and businesses that we serve. We work hard for our clients and seek the finest, most passionate, and driven people to join our team.
          h3
            strong There is currently one employment opportunity.
          h3
            strong
              br
              | We look forward to hearing from you.
    .layer.page-secondary.standard-type.margin-four
      .inner
        p.margin-title Director of Finance
        .content
          p
            | At Minerva MUN, we believe our people, our culture, and the way we do business is important. That is why when we hire; we look for a combination of fit and skills.
          p
            | We are currently seeking a 
            strong Director of Finance 
            | to join our team on a full-time basis. This person will be an integral member of the corporate management group and will lead the finance and accounting team. This role will be responsible for all accounting related activities and will interact with all levels of management.
          p
            strong
              | Reporting to the Chief Executive Officer, your responsibilities will include but are not limited to the following:
          ul
            li Prepare the monthly, quarterly, and annual financial reports
            li Coordinate the preparation of the annual operating budget
            li Prepare KPI&rsquo;s and other reports for management
            li
              | Develop, implement, and ensure compliance with internal accounting policies as well as internal controls
            li
              | Investigate variances in budgets, reporting, internal controls, and general accounting; deploy measures to resolve variances
            li
              | Ensure systems, processes and controls are in place to adequately protect the assets of the Firm while ensuring operational efficiencies
            li
              | Coordinate activities by scheduling work assignments, setting priorities, and delegating work accordingly
            li
              | Ensure that all government remittances, filings, and other corporate financial obligations are completed on time and accurately.
            li
              | Oversee the annual external audit of the financial statements ensuring no significant audit issues are identified.
            li
              | Supervise and assist in the development and maintenance of accounting files and records
            li
              | Provide employee training, ensuring that all applicable compliance requirements are met
          p &nbsp;
          p
            strong Qualifications and Skill Requirements:
          ul
            li Chartered Professional Accountant (CPA) designation
            li Bachelor&rsquo;s degree in accounting, finance, or business administration
            li
              | Minimum five years of experience in a senior accounting position with full cycle accounting experience
            li
              | Advanced proficiency with accounting software and spreadsheet programs and applications
            li
              | Experienced leader, with well-developed coaching and leadership skills, both on a formal and informal basis
          p
            | Minerva MUN offers a friendly work environment, work-life balance, a competitive salary, and an excellent benefits package, including a RRSP/DPSP plan.
          p
            | Interested candidates are invited to submit a resume in confidence stating salary expectations via email at: 
            a(href='/cdn-cgi/l/email-protection#cea6bba3afa0bcabbda1bbbcadabbd8ebea7baaca2afaaa1e0ada1a3')
              span.__cf_email__(data-cfemail='177f627a767965726478626574726457677e63757b7673783974787a') [email&nbsp;protected]
    include footer