extends layout 

block content
    style.
        section.s8{
            height:90vh;
            background-image: linear-gradient(to bottom, rgba(0,0,0, 0.3),rgba(0,0,0, 0.75)), url("https://www.pitblado.com/wp-content/uploads/2020/10/contact-page-scaled.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            backdrop-filter: blur(30px);
            background-color: #000;
        }

        section.s11{
            height:50vh;
            background: url("https://www.pitblado.com/wp-content/uploads/2020/10/where-to-next-background-2560.jpg");
            background-repeat: no-repeat;
            background-position-y:85%;
            background-size: cover;
            backdrop-filter: blur(30px);
            background-color: #000;
        }        
        .leftside{
            float:left;
            text-align:left;
            margin-left:150px;
            color:#fff;
            font-size:2vw;
            margin-top:17vh
        }
        .leftside p{
            font-size: 2.5vw;
        }
        .leftside b{
            text-decoration: underline;
        }
        .s8 .leftside{
            margin-top:45vh;
        }
        .s8 .titlediv{
            display:flex;
            flex-flow:row;
        }
        .titlediv{
            display:flex;
            flex-flow:column;
        }
        .title{
            padding-right:2vw;
        }
        section.s9{
            height:max-content;
        }
        .s11 .linky{
            cursor:pointer;
        }
        .s11 b{
            text-decoration:none;
        }
        section.s10{
            height:max-content;
        }
        .s9 p{
            color:#687780;
        }
        .s9 b{
            color:#000;
            text-decoration:none;
            font-weight:500;
        }
        .pdiv1{
            display:flex;
            justify-content:center
        }
        .pdiv2{
            width:65%;
            padding-bottom:10vh;
        }
        .pdiv2 p{
            font-size:0.67em;
            color:#000;
        }
        .imagetab1{
            margin-top:20vh;
            display:flex;
            flex-flow:row;
            justify-content: space-evenly;
            align-content:center;
            width:100vw;
        }
        .imagediv{
            width:20vw;
        }
        .imagepart img{
            width:18vw;
            height:18vw;
        }
        .imagepart img:hover{
            opacity: 0.5;        
        }
        .textpart h1{
            font-size:2em;
        }
        .textpart p{
            letter-spacing:0.001em;
            color: #697881;
            font-size:1.2em;
        }
        .h8container{
            font-size:0.8em;
            width:100%;
            font-weight:bolder;
            text-align:left;
            color:#fff;
            padding-bottom:50px;
        }
        .imgs{
            display:flex;
            justify-content:center;
            padding:40px;

        }
        .imgs1{
            width:fit-content;
            display:flex;
            flex-flow:row;
        }
        .imgs img{
            height:200px;
            width:200px;
            padding:10px;
        }
        .leftside{
            float:left;
            text-align:left;
            margin-left:150px;
        }
        .s11 .leftside{
            color:#fff;
        }
        .s11 .leftside h1{
            font-size:1.7em;
            margin-top:-30px;
            font-weight:500;
            letter-spacing:0.07em;
            text-decoration:none;
        }
        section.s9{
            height:max-content;
        }
        section.s12{
            height:max-content;
        }
        .headdiv1{
            display:flex;
            justify-content:space-evenly;
            margin-top:15vh;
        }
        .headdiv1 h1{
            width:80%;
            text-align:left;
            font-size:3em;
        }
        .contactdiv1{
            display:flex;
            flex-flow:row;
            justify-content:space-evenly;
        }
        .contactdiv1 h2{
            margin-top:5vh;
            font-size:2em;
        }
        .contactdiv1 a, .contactdiv1 p{
            width:fit-content;
            font-size:1.3em
        }
        .contactdiv2, .contactdiv3, .contactdiv4{
            display:flex;
            flex-flow:column;
            justify-content:space-evenly;
        }
        .contactdiv5{
            display:flex;
            flex-flow:column;
            justify-content:center;
        }
        .contactdiv2, .contactdiv5{
            width:35%;
        }
        .contactdiv4 a{
            margin-top:20px;
        }
        .headdiv2 h3{
            color:darkgrey;
        }
        .resizable-input-v3 {
            /* make resizable */
            overflow: hidden;
            resize: both;
            display: inline-block;

            /* no extra spaces */
            padding: 0;
            margin: 0;
            white-space: nowrap;

            /* default widths */
            min-width: 2em;
            max-width: 100%;
        }
        .contactdiv5 form {
            width:100%
        }
        .contactdiv5 form input, select, textarea{
            max-width:100%;
            display: block;
            width: 100%;
            font-size: 1em;
            border: 1px solid #000;
            height: 48px;
            padding: 6px 10px;
            border-radius: 5px;
            box-shadow: none;
            box-sizing: border-box;
            margin-bottom: 5px;
            background: #FFFFFF;
            -webkit-appearance: none;
            color: #000;
            font-family: 'suisse';
            margin-top: 2em;
        }

        .contactdiv5 textarea{
            height: 30vh;
        }

        @media (min-width:1000px) and (max-width:1300px) {
            .textpart h1{
                font-size:1.6em;
            }
            .textpart p{
                font-size:1em;
            }
        }

        @media (min-width:750px) and (max-width:1000px) {
            .textpart h1{
                font-size:1.3em;
            }
            .textpart p{
                font-size:0.8em;
            }
        }

        @media (max-width:750px) {
            h1.title{
                font-size:8vh;
                text-align:left;
                margin-top:-50px;
            }
            .titlediv{
                margin-top:5vh;
                flex-flow:column;
            }
            .s8 .titlediv{
                flex-flow:column;
            }
            .s8 .leftside{
                margin-top:45vh;
            }
            .leftside{
                margin-left:20px;
            }
            .leftside p{
                font-size:2.4vh;
                line-height:3.2vh
            }
            .textpart h1{
                font-size:1.3em;
            }
            .textpart p{
                font-size:0.9em;
            }
            .imagetab1{
                flex-flow:column;
                align-items:center;
            }
            .imagepart img{
                margin-top:10vh;
                width:30vh;
                height:30vh;
            }
            .imagediv{
                width:30vh;
            }
            .imagetab1:nth-child(2), .imagetab1:nth-child(3){
                margin-top:0;
            }
            .contactdiv1{
                flex-flow:column;
                align-items:center;
            }
            .contactdiv2, .contactdiv5{
                width:70%;
            }
            .contactdiv3 a{
                margin-top: 20px
            }
            .s9 .leftside{
                margin-top:5vh;
            }
            .headdiv1{
                margin-top:5vh;
            }
        }

    section.s8
        .container
            .leftside
                .titlediv
                    h1.title Contact
                    h1.title Us

    section.s9
        .container
            .leftside
                .titlediv
                    p 
                        | We are pleased to connect with you
                        br 
                        b in&#8211;person
                        | , by 
                        b phone
                        |  , by 
                        b email
                        |  or 
                        b 24/7 
                        | on our
                        br
                        | website. We look forward to learning how we
                        br
                        | can help you.

    section.s12
        .container
            .headdiv1
                h1 Where to find us?
            .contactdiv1
                .contactdiv2
                    .contactdiv3
                        h2 Bhopal Office
                        p Minerva MUN
                        p 89 Paras Majestic E-8 Trilanga
                        p Bhopal, MP
                        p India
                        a(href='tel:+919826355502') T- +91 98263 55502
                        a(href='mailto:secretariat@minervamun.com') E- secretariat@minervamun.com
                    .contactdiv4
                        h2 Connect with us
                        a(href='https://twitter.com/minerva_modelun') Twitter
                        a(href='https://www.linkedin.com/company/minerva_modelun') LinkedIn
                        a(href='https://www.instagram.com/minerva_modelun') Instagram
                        a(href='https://www.facebook.com/minerva_modelun') Facebook
                .contactdiv5
                    .headdiv2
                        h2 Send us a message
                        h3 We'll get back to you
                        h3 on the email mentioned.
                    form(action="/send/message", method="post") 
                        if msgerror
                            p  #{msgerror}
                        input(type='text', name='name', placeholder='Name' required)
                        input(type='email', name='email', placeholder='Email Adress' required)
                        textarea(name='message', placeholder='Message' required)
                        input(type='submit', value='Send')
    include footer
    script.
        document.getElementById("contactnav").classList.toggle("active");