extends layout 

block content
    style.
        section.s8{
            height:90vh;
            background-image: linear-gradient(to bottom, rgba(0,0,0, 0.3),rgba(0,0,0, 0.75)), url("https://www.pitblado.com/wp-content/uploads/2020/11/171562pitblado26640_SEK_BHK_ALA_edit-scaled.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            /* background-attachment: fixed; */
            backdrop-filter: blur(30px);
            background-color: #000;
        }
        .leftside{
            float:left;
            text-align:left;
            margin-left:150px;
            color:#fff;
            font-size:2vw;
            margin-top:17vh
        }
        .leftside p{
            font-size: 2vw;
        }
        .leftside b{
            text-decoration: underline;
        }
        .titlediv{
            display:flex;
            flex-flow:row;
        }
        .title{
            padding-right:2vw;
        }
        section.s9{
            height:max-content;

        }
        section.s10{
            height:max-content;
        }
        .s9 p{
            color:#687780;
        }
        .s9 b{
            color:#000;
            text-decoration:none;
            font-weight:bolder;
        }
        .pdiv1{
            display:flex;
            justify-content:center
        }
        .pdiv2{
            width:65%;
        }
        .pdiv2 p{
            font-size:0.67em;
            color:#000;
        }
        .imagetab1{
            margin-top:20vh;
            display:flex;
            flex-flow:row;
            justify-content: space-evenly;
            align-content:center;
            width:100vw;
        }
        .imagediv{
            width:20vw;
        }
        .imagepart img{
            width:18vw;
            height:18vw;
        }
        .imagepart img:hover{
            opacity: 0.5;        
        }
        .textpart h1{
            font-size:2em;
        }
        .textpart p{
            letter-spacing:0.001em;
            color: #697881;
            font-size:1.2em;
        }
        .h8container{
            margin-top:10vh;
            font-size:1em;
            width:100%;
            font-weight:bolder;
            text-align:center;
        }
        .imgs{
            display:flex;
            justify-content:center;
            padding:40px;

        }
        .imgs1{
            width:fit-content;
            display:flex;
            flex-flow:row;
        }
        .imgs img{
            height:200px;
            width:200px;
            padding:10px;
        }

        @media (min-width:1000px) and (max-width:1300px) {
            .textpart h1{
                font-size:1.6em;
            }
            .textpart p{
                font-size:1em;
            }
        }

        @media (min-width:750px) and (max-width:1000px) {
            .textpart h1{
                font-size:1.3em;
            }
            .textpart p{
                font-size:0.8em;
            }
        }

        @media (max-width:750px) {
            h1.title{
                font-size:8vh;
                text-align:left;
                margin-top:-50px;
            }
            .titlediv{
                margin-top:5vh;
                flex-flow:column;
            }
            .leftside{
                margin-left:20px;

            }
            .s10 .leftside{
                width:90%;
                margin-left:40px;
            }
            .pdiv2{
                width:85%;
                margin-right:20px;
            }
            .s8 .leftside{
                margin-top:50vh;
                margin-left:11%
            }
            .s9 .leftside{
                margin-left:8%;
            }
            .s9 .leftside p{
                font-size:2.8vh;
                line-height:4vh
            }
            .leftside p{
                font-size:1.6vh;
                line-height:2.8vh
            }
            .textpart h1{
                font-size:1.3em;
            }
            .textpart p{
                font-size:0.9em;
            }
            .imagetab1{
                flex-flow:column;
                align-items:center;
            }
            .imagepart img{
                margin-top:10vh;
                width:30vh;
                height:30vh;
            }
            .imagediv{
                width:30vh;
            }
            .imagetab1:nth-child(2), .imagetab1:nth-child(3){
                margin-top:0;
            }
        }

    section.s8
        .container
            .leftside
                .titlediv
                    h1.title Our
                    h1.title Firm

    section.s9
        .container
            .leftside
                .titlediv
                    p 
                        | We 
                        b build
                        |  trusting relationships,
                        br
                        b understand
                        |  client needs,
                        br
                        | and provide 
                        b solutions
                        | .

    section.s10
        .container
            .leftside
                .pdiv2
                    p Minerva Model UN is an emerging foundation which has its roots in the vision of some students from grades 11 and 12. This chapter, very much like the previous one is an Online conference, keeping in mind the current situation around the globe. To recapitulate things, the first chapter was a grand success for all of us with the participation of over 200 delegates from India as well as many other countries and building upon that, we are expecting over 500 delegates for the Second chapter.
                    br
                    p Apart from our conferences, we are proud to have received a Letter of Recommendation from the Governor of Gujarat, honourable Sri Acharya Devvrat, the Governor of Meghalaya, honourable Sri Satya Pal Malik and the honourable Chief Minister of Rajasthan Shri Ashok Gehlot. Our organisation is recognised by the United Nations General Assembly (UNGA) and we also have successful ties with NGOs like the Abraham Lincoln Shiksha Society, etc.
                    br
                    p Our Board of Advisors comprises of -
                    br
                    p 1. H.E. Shekhar Dutt &#91; Former governor of Chhattisgarh, former Defense Secretary &#93;
                    p 2. Dr Shivran Raghuwanshi &#91; Former Head of Physics group at National Atomic Energy Department &#93;
                    p 3. Ms Chandana Hiran &#91; Online Youth leader and feminist &#93;
                    p 4. Adv. Mayank Singhal &#91; Prominent figure with experience in over 500 MUNs &#93;
                    p 5. Dr Kalyan Srinivas Raygalla &#91; Prominent Entrepreneur &#93;
                    p 6. Dr Sudhakar  &#91; Famous Psychologist &#93;
                    p 7. Amb. K.P. Fabian &#91; former ambassador to Qatar and Italy &#93;
                    br
                    p Inspired by the Atmanirbhar approach introduced by our government, we too have developed our strategies and ideologies. We host committees of a great spectrum ranging from a future crisis like dealing with the galactic federation to the past like the Reagan Administration idea of Star Wars, we also support human rights of prisoners that are being violated to a high extent by a lot of countries in the contemporary world and we also are revisiting the Indian elections of 2019 to develop the spirit of a true politician amongst the delegates and we also have a journalists committee, that is to support the fourth pillar of democracy.

    include footer
    script.
        document.getElementById("firmnav").classList.toggle("active");