header#header.nav-down
  .outer
    .inner
      a(href='#skip-navigation', style='position: absolute; left: -50000px; height: 1px;') Skip Navigation
      .siteLogo.mask
        a#siteLogo(href='https://www.minervamun.com') Minerva MUN
      // navContainer added for the mobile menu
      nav
        ul#menu-main-menu.menu
          li#menu-item-204.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-204
            a(href='our-people') Team
          li#menu-item-201.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-201
            a(href='firm', aria-haspopup='true', aria-expanded='false') Company
          li#menu-item-206.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-206
            a(href='services', aria-haspopup='true', aria-expanded='false') Services
          li#menu-item-200.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-200
            a(href='contact-us') Contact
      .nav-extras
        .payBillButton.mask
          a#payBillButton(href='/https://tinyurl.com/minervardf/') Join Us
        .menuButton.mask
          button#menuButton(href='#') Menu