extends layout

block content
  #wrapper
    #skip-navigation
    .layer.layer-hero.ko.first-layer.tall
      img(src='wp-content/themes/theme_mob_1.2/img/UNO.png', alt='Minerva MUN')
      .tinter(style='opacity: 0.25')
      .inner
        h1#split-me.eyebrow
          span Welcome to Minerva
        h2.huge
          span.mask
            span.text.text1 We build students
          |  
          span.mask
            span.text.text2 that lead the world
        .mask
          a.button.circle(href='contact-us.html') Talk to Us
    .layer.layer-statement.first-layer
      .inner
        .text
          h3
            span.mask
              span.text.text1
                | We build successful 
                strong Relationships
                | ; treat people with 
                strong Respect
                | ; and achieve exceptional 
                strong Results
                | .
    .layer.layer-three-col
      .inner
        h2.eyebrow Our Values
        .three-col
          .col
            h3 Relationships
            p
              | We focus on creating long lasting and strong 
              strong relationships
              |  with our clients/students. We work hard to clearly understand our clients&rsquo;/students&apos; every need.
          .col
            h3 Respect
            p
              | We 
              strong respect
              |  our clients/students. We listen, engage, and care deeply.
          .col
            h3 Results
            p
              | No matter how much we have to cover, we work tirelessly to achieve 
              strong results
              |  that matter to you.
    .layer.layer-image-strip.layer-video.ko
      img(src='wp-content/themes/theme_mob_1.2/img/TEAM.png', alt='Minerva MUN')
      .tinter(style='opacity: 0.45')
      .inner
        .text-on-video
          span(role='heading')
            p Minerva MUN is proud of our team during this unprecedented time.
    .layer.layer-testimonials
      .inner
        h2.eyebrow Recent Experience
        .testimonials
          .testimonial
            .testimonial-inner
              p.quote
                | Minerva MUN chapter 1 conducted with over 300 participants from all over the country and debate their hearts out into a debate for the future of India.
              .who
                p.quotee-name Success
                p.quotee-job
          .testimonial
            .testimonial-inner
              p.quote
                | Minerva MUN completes one year on 1st August 2021 after having an affect in over 20,000 people from all over the world and teaching them lessons for the future.
              .who
                p.quotee-name Success
                p.quotee-job
          .testimonial
            .testimonial-inner
              p.quote
                | Minerva MUN conducts chapter 2 in April with the presence of 3 Former Governors and 3 Former Chief of Armed Forces into a massive event for the public good.
              .who
                p.quotee-name Success
                p.quotee-job
          .testimonial
            .testimonial-inner
              p.quote
                | Minerva gets back into the game after 2 months of inactivity due to team&apos;s academic commitments.
              .who
                p.quotee-name Success
                p.quotee-job
    .layer.layer-find-a-lawyer
      .inner
        h2.eyebrow Need Help?
        .two-col
          .text
            h3.huge
              span.mask
                span.text.text1
                  | Find your best fit out of 
                  strong 40
                  |  top-notch team members.
            p
              | Proudly based in Bhopal, our advocates seek to continually improve their skills and approach to deliver education services suited for today.
            |  
            a.button.circle(href='Minerva MUN/our-people') Contact Us
          .image
            img(src='wp-content/uploads/2020/10/3aekav28.jpg', alt='')
    .layer.layer-logofarm
      .inner
        p Honoured to be recognized by:
        |  
        img(src='recog/1.png', alt='')
        |  
        img(src='recog/2.png', alt='')
        |  
        img(src='recog/3.png', alt='')
        |  
        img(src='recog/4.png', alt='')
        |  
        img(src='recog/5.png', alt='')
        |  
        img(src='recog/6.png', alt='')
        |  
        img(src='recog/7.png', alt='')
    include footer