doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    meta(name='author', content='Minerva ')
    meta(name='web-author', content='Aroraji https://aroraji.wtf')
    meta(name='theme-color', content='#FFFFFF')
    link(rel='apple-touch-icon', sizes='180x180', href='favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='favicon/favicon-16x16.png')
    link(rel='manifest', href='favicon/site.webmanifest')
    meta(name='robots', content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1')
    title Minerva MUN
    meta(name='description', content="Minerva MUN is a leading full service education firm, home to India's best student advocates providing the country with exceptional experiences and solutions.")
    link(rel='canonical', href='https://www.minervamun.com/')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Minerva MUN')
    meta(property='og:description', content="Minerva MUN is a leading full service education firm, home to India's best student advocates providing the country with exceptional experiences and solutions.")
    meta(property='og:url', content='https://www.minervamun.com/')
    meta(property='og:site_name', content='Minerva MUN')
    link(rel='dns-prefetch', href='//cdnjs.cloudflare.com')
    link(rel='dns-prefetch', href='//www.google.com')
    link(rel='dns-prefetch', href='//s.w.org')
    script(type='text/javascript').
      window._wpemojiSettings = {
      "baseUrl": "https:\\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/",
      "ext": ".png",
      "svgUrl": "https:\\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/",
      "svgExt": ".svg",
      "source": {
      "concatemoji": "https:\\/\/www.pitblado.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.2"
      }
      };
      ! function(e, a, t) {
      var n, r, o, i = a.createElement("canvas"),
      p = i.getContext && i.getContext("2d");
      function s(e, t) {
      var a = String.fromCharCode;
      p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
      e = i.toDataURL();
      return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
      }
      function c(e) {
      var t = a.createElement("script");
      t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
      }
      for(o = Array("flag", "emoji"), t.supports = {
      everything: !0,
      everythingExceptFlag: !0
      }, r = 0; r < o.length; r++) t.supports[o[r]] = function(e) {
      if(!p || !p.fillText) return !1;
      switch(p.textBaseline = "top", p.font = "600 32px Arial", e) {
      case "flag":
      return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
      case "emoji":
      return !s([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212])
      }
      return !1
      }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
      t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function() {
      t.DOMReady = !0
      }, t.supports.everything || (n = function() {
      t.readyCallback()
      }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function() {
      "complete" === a.readyState && t.readyCallback()
      })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
      }(window, document, window._wpemojiSettings);
    style(type='text/css').
      img.wp-smiley,
      img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
      }
    link#wc-block-vendors-style-css(rel='stylesheet', href='wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css?ver=5.3.3', type='text/css', media='all')
    link#wc-block-style-css(rel='stylesheet', href='wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=5.3.3', type='text/css', media='all')
    link#contact-form-7-css(rel='stylesheet', href='wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.4.2', type='text/css', media='all')
    style#woocommerce-inline-inline-css(type='text/css').
      .woocommerce form .form-row .required {
      visibility: visible;
      }
    link#main-styles-css(rel='stylesheet', href='wp-content/themes/theme_mob_1.2/style.css?version=2021-05-27.032&ver=5.7.2', type='text/css', media='all')
    link#mobile-styles-css(rel='stylesheet', href='wp-content/themes/theme_mob_1.2/mobile.css?version=2020-12-09.005&ver=5.7.2', type='text/css', media='all')
    link#lity-style-css(rel='stylesheet', href='wp-content/themes/theme_mob_1.2/js/lity.css?ver=5.7.2', type='text/css', media='all')
    link#slick-style-css(rel='stylesheet', href='wp-content/themes/theme_mob_1.2/js/slick.css?ver=5.7.2', type='text/css', media='all')
    link#sv-wc-payment-gateway-payment-form-v5_8_1-css(rel='stylesheet', href='wp-content/plugins/woocommerce-gateway-moneris/vendor/skyverge/wc-plugin-framework/woocommerce/payment-gateway/assets/css/frontend/sv-wc-payment-gateway-payment-form.min.css?ver=5.8.1', type='text/css', media='all')
    link#wc-moneris-hosted-tokenization-css(rel='stylesheet', href='wp-content/plugins/woocommerce-gateway-moneris/assets/css/frontend/wc-moneris-hosted-tokenization.min.css?ver=2.15.0', type='text/css', media='all')
    script#jquery-core-js(type='text/javascript', src='https://code.jquery.com/jquery-3.4.1.min.js?ver=3.4.1')
    script#jquery-migrate-js(type='text/javascript', src='https://code.jquery.com/jquery-migrate-3.1.0.min.js?ver=3.1.0')
    script#gsap-js(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js?ver=5.7.2')
    script#scrolltrigger-js(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js?ver=5.7.2')
    script#parampolyfill-js(type='text/javascript', src='wp-content/themes/theme_mob_1.2/js/searchparam.min.js?ver=5.7.2')
    script#smooth-scrollbar-js(type='text/javascript', src='wp-content/themes/theme_mob_1.2/js/smooth-scrollbar.js?ver=5.7.2')
    script#lity-script-js(type='text/javascript', src='wp-content/themes/theme_mob_1.2/js/lity.js?ver=5.7.2')
    script#simpleexpand-js(type='text/javascript', src='wp-content/themes/theme_mob_1.2/js/simple-expand.js?ver=1')
    script#slick-script-js(type='text/javascript', src='wp-content/themes/theme_mob_1.2/js/slick.min.js?ver=1')
    script#isotope-js(type='text/javascript', src='wp-content/themes/theme_mob_1.2/js/isotope.pkgd.js?ver=1')
    script#theme_scripts-js(type='text/javascript', src='wp-content/themes/theme_mob_1.2/js/theme_scripts.js?version=2021-01-05.002&ver=1')
    link(rel='https://api.w.org/', href='wp-json/')
    link(rel='alternate', type='application/json', href='wp-json/wp/v2/pages/113')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='xmlrpc.php?rsd')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='wp-includes/wlwmanifest.xml')
    meta(name='generator', content='WordPress 5.7.2')
    meta(name='generator', content='WooCommerce 5.5.2')
    link(rel='shortlink', href='MINERVAMUN.COM')
    link(rel='alternate', type='application/json+oembed', href='wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.pitblado.com%2F')
    link(rel='alternate', type='text/xml+oembed', href='wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.pitblado.com%2F&format=xml')
    link(rel='canonical', href='https://www.minervamun.com')
  body.home.page-template-default.page.page-id-113.woocommerce-no-js(class='theme-theme_mob_1.2')
    include header
    block content
    script(data-cfasync='false', src='/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')
    script(type='text/javascript').
      (function() {
      var c = document.body.className;
      c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
      document.body.className = c;
      })();
    script#wp-polyfill-js(type='text/javascript', src='wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=7.4.4')
    script#wp-polyfill-js-after(type='text/javascript').
      ('fetch' in window) || document.write('<script src="wp-includes/js/dist/vendor/wp-polyfill-fetch.min.js?ver=3.0.0"></scr' + 'ipt>');
      (document.contains) || document.write('<script src="wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js?ver=3.42.0"></scr' + 'ipt>');
      (window.DOMRect) || document.write('<script src="wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min.js?ver=3.42.0"></scr' + 'ipt>');
      (window.URL && window.URL.prototype && window.URLSearchParams) || document.write('<script src="wp-includes/js/dist/vendor/wp-polyfill-url.min.js?ver=3.6.4"></scr' + 'ipt>');
      (window.FormData && window.FormData.prototype.keys) || document.write('<script src="wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js?ver=3.0.12"></scr' + 'ipt>');
      (Element.prototype.matches && Element.prototype.closest) || document.write('<script src="wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js?ver=2.0.2"></scr' + 'ipt>');
      ('objectFit' in document.documentElement.style) || document.write('<script src="wp-includes/js/dist/vendor/wp-polyfill-object-fit.min.js?ver=2.3.4"></scr' + 'ipt>');
    script#contact-form-7-js-extra(type='text/javascript').
      var wpcf7 = {
      "api": {
      "root": "https:\\/\/www.pitblado.com\/wp-json\/",
      "namespace": "contact-form-7\\/v1"
      }
      };
    script#contact-form-7-js(type='text/javascript', src='wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.4.2')
    script#jquery-blockui-js(type='text/javascript', src='wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70')
    script#js-cookie-js(type='text/javascript', src='wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4')
    script#woocommerce-js-extra(type='text/javascript').
      var woocommerce_params = {
      "ajax_url": "\\/wp-admin\/admin-ajax.php",
      "wc_ajax_url": "\\/?wc-ajax=%%endpoint%%"
      };
    script#woocommerce-js(type='text/javascript', src='wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=5.5.2')
    script#wc-cart-fragments-js-extra(type='text/javascript').
      var wc_cart_fragments_params = {
      "ajax_url": "\\/wp-admin\/admin-ajax.php",
      "wc_ajax_url": "\\/?wc-ajax=%%endpoint%%",
      "cart_hash_key": "wc_cart_hash_62cedb1f1732823b9342b57cf47dd93c",
      "fragment_name": "wc_fragments_62cedb1f1732823b9342b57cf47dd93c",
      "request_timeout": "5000"
      };
    script#wc-cart-fragments-js(type='text/javascript', src='wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=5.5.2')
    script#jquery-payment-js(type='text/javascript', src='wp-content/plugins/woocommerce/assets/js/jquery-payment/jquery.payment.min.js?ver=3.0.0')
    script#sv-wc-payment-gateway-payment-form-v5_8_1-js-extra(type='text/javascript').
      var sv_wc_payment_gateway_payment_form_params = {
      "card_number_missing": "Card number is missing",
      "card_number_invalid": "Card number is invalid",
      "card_number_digits_invalid": "Card number is invalid (only digits allowed)",
      "card_number_length_invalid": "Card number is invalid (wrong length)",
      "cvv_missing": "Card security code is missing",
      "cvv_digits_invalid": "Card security code is invalid (only digits are allowed)",
      "cvv_length_invalid": "Card security code is invalid (must be 3 or 4 digits)",
      "card_exp_date_invalid": "Card expiration date is invalid",
      "check_number_digits_invalid": "Check Number is invalid (only digits are allowed)",
      "check_number_missing": "Check Number is missing",
      "drivers_license_state_missing": "Drivers license state is missing",
      "drivers_license_number_missing": "Drivers license number is missing",
      "drivers_license_number_invalid": "Drivers license number is invalid",
      "account_number_missing": "Account Number is missing",
      "account_number_invalid": "Account Number is invalid (only digits are allowed)",
      "account_number_length_invalid": "Account number is invalid (must be between 5 and 17 digits)",
      "routing_number_missing": "Routing Number is missing",
      "routing_number_digits_invalid": "Routing Number is invalid (only digits are allowed)",
      "routing_number_length_invalid": "Routing number is invalid (must be 9 digits)"
      };
    script#sv-wc-payment-gateway-payment-form-v5_8_1-js(type='text/javascript', src='wp-content/plugins/woocommerce-gateway-moneris/vendor/skyverge/wc-plugin-framework/woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-payment-form.min.js?ver=5.8.1')
    script#wc-moneris-hosted-tokenization-js-extra(type='text/javascript').
      var wc_moneris_hosted_tokenization_params = {
      "card_number_missing": "Card number is missing",
      "card_number_invalid": "Card number is invalid",
      "card_number_digits_invalid": "Card number is invalid (only digits allowed)",
      "card_number_length_invalid": "Card number is invalid (wrong length)",
      "cvv_missing": "Card security code is missing",
      "cvv_digits_invalid": "Card security code is invalid (only digits are allowed)",
      "cvv_length_invalid": "Card security code is invalid (must be 3 or 4 digits)",
      "card_exp_date_invalid": "Card expiration date is invalid",
      "check_number_digits_invalid": "Check Number is invalid (only digits are allowed)",
      "check_number_missing": "Check Number is missing",
      "drivers_license_state_missing": "Drivers license state is missing",
      "drivers_license_number_missing": "Drivers license number is missing",
      "drivers_license_number_invalid": "Drivers license number is invalid",
      "account_number_missing": "Account Number is missing",
      "account_number_invalid": "Account Number is invalid (only digits are allowed)",
      "account_number_length_invalid": "Account number is invalid (must be between 5 and 17 digits)",
      "routing_number_missing": "Routing Number is missing",
      "routing_number_digits_invalid": "Routing Number is invalid (only digits are allowed)",
      "routing_number_length_invalid": "Routing number is invalid (must be 9 digits)",
      "require_csc": "",
      "hosted_tokenization_url": "https:\\/\/www3.moneris.com\/HPPtoken\/index.php",
      "general_error": "An error occurred with your payment, please try again or try another payment method",
      "card_number_missing_or_invalid": "Card number is missing or invalid",
      "ajaxurl": "\\/wp-admin\/admin-ajax.php"
      };
    script#wc-moneris-hosted-tokenization-js(type='text/javascript', src='wp-content/plugins/woocommerce-gateway-moneris/assets/js/frontend/wc-moneris-hosted-tokenization.min.js?ver=2.15.0')
    script#google-recaptcha-js(type='text/javascript', src='https://www.google.com/recaptcha/api.js?render=6Le2VqcaAAAAAMWkM_V3qIEIwtvYEsVznFFWg4i6&ver=3.0')
    script#wpcf7-recaptcha-js-extra(type='text/javascript').
      var wpcf7_recaptcha = {
      "sitekey": "6Le2VqcaAAAAAMWkM_V3qIEIwtvYEsVznFFWg4i6",
      "actions": {
      "homepage": "homepage",
      "contactform": "contactform"
      }
      };
    script#wpcf7-recaptcha-js(type='text/javascript', src='wp-content/plugins/contact-form-7/modules/recaptcha/index.js?ver=5.4.2')
    script#wp-embed-js(type='text/javascript', src='wp-includes/js/wp-embed.min.js?ver=5.7.2')
    link(type='text/css', media='print', rel='stylesheet', href='wp-content/themes/theme_mob_1.2/style-print.css')