extends layout

block content

  #wrapper
    #skip-navigation
    .layer.layer-hero.ko.first-layer.tall
      img.align-top(src='https://www.pitblado.com/wp-content/uploads/2020/10/contact-page-scaled.jpg', alt='')
      .tinter(style='opacity: 0.2')
      .inner
        h1.huge
          span.mask
            span.text.text1 Our Services
    .layer.layer-statement.first-layer
      .inner
        .text
          h3
            span.mask
              span.text.text1
                | We are 
                strong continuously advancing
                |  our knowledge of new developments in the industries and areas we practice. We 
                strong never stand still
                | ; we 
                strong never grow stale.
                |  It shows in our work.
    .layer.layer-one-column
      .inner
        .text
          p
            | For over 365 days, Minerva MUN has helped its clients navigate complex legal matters with skill and professionalism.
          p
            | Our tradition speaks volumes, but we do not stand on tradition alone. We work with our clients to deeply understand the changing nuances and market conditions that influence all key sectors of the economy. Through knowledge, passion, and diligence, we help our clients achieve their desired objectives.
          p &nbsp;
    #layer-services-header.layer-services-header
      #practice-areas.service-rows.active.cf
        .service-labels.cf
          .inner
            span.label-name Name
            |  
            span.label-sub-practice Sub Practices
            |  
            span.label-Members Members Practicing
            |  
            span.label-open Tick
        .service-row
          a.header(aria-label='Banking and Financial Services')
            .inner
              p.name Public Speaking
              p.sub-practice-count(style='opacity: 0.2;') 0 Sub-Practices
              p.Member-count 22 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Bankruptcy and Insolvency')
            .inner
              p.name Diplomacy
              p.sub-practice-count(style='opacity: 0.2;') 0 Sub-Practices
              p.Member-count 23 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Business')
            .inner
              p.name Business
              p.sub-practice-count 3 Sub-Practices
              p.Member-count 10 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Family')
            .inner
              p.name Linguistic Training
              p.sub-practice-count(style='opacity: 0.2;') 0 Sub-Practices
              p.Member-count 4 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Franchising')
            .inner
              p.name Financial Planning
              p.sub-practice-count(style='opacity: 0.2;') 0 Sub-Practices
              p.Member-count 7 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Immigration')
            .inner
              p.name Marketing Training
              p.sub-practice-count(style='opacity: 0.2;') 0 Sub-Practices
              p.Member-count 11 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Indigenous')
            .inner
              p.name Data Analytics
              p.sub-practice-count(style='opacity: 0.2;') 0 Sub-Practices
              p.Member-count 11 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Insurance')
            .inner
              p.name Statistical Planning
              p.sub-practice-count(style='opacity: 0.2;') 0 Sub-Practices
              p.Member-count 5 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Intellectual Property')
            .inner
              p.name Team Management
              p.sub-practice-count(style='opacity: 0.2;') 0 Sub-Practices
              p.Member-count 6 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Labour and Employment')
            .inner
              p.name Professional Training
              p.sub-practice-count 8 Sub-Practices
              p.Member-count 16 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Litigation and Dispute Resolution')
            .inner
              p.name Startup Incubation
              p.sub-practice-count 11 Sub-Practices
              p.Member-count 38 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Mergers and Acquisitions')
            .inner
              p.name Technical Training
              p.sub-practice-count(style='opacity: 0.2;') 0 Sub-Practices
              p.Member-count 5 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Municipal')
            .inner
              p.name Outreach Training
              p.sub-practice-count(style='opacity: 0.2;') 0 Sub-Practices
              p.Member-count 1 Member
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .service-row
          a.header(aria-label='Pensions')
            .inner
              p.name Corporate English Development
              p.sub-practice-count(style='opacity: 0.2;') 0 Sub-Practices
              p.Member-count 6 Members
              |  
              span.button
                button(tabindex='-1', aria-hidden='true')
                  span(aria-hidden='true') &rarr;
        .layer.where-to-next
          img(src='https://www.pitblado.com/wp-content/uploads/2020/10/where-to-next-background-2560.jpg', alt='')
          .tinter(style='opacity: 0.2')
          .inner
            .text
              span.eyebrow We have expertise across 14 Areas.
              p.huge
                | If you can&apos;t find what you are looking for
                span(aria-hidden='true') &rarr;
                |  
                a(href='/contact') Contact Us
                | .
    include footer