extends layout 

block content
    style.
        section.s8{
            height:100vh;
            background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2),rgba(0,0,0, 0.2)), url("https://www.pitblado.com/wp-content/uploads/2020/09/pitblado-people.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            /* background-attachment: fixed; */
            backdrop-filter: blur(30px);
            background-color: #000;
        }
        .leftside{
            float:left;
            text-align:left;
            margin-left:150px;
            color:#fff;
            font-size:2vw;
            margin-top:50vh
        }
        .leftside p{
            font-size: 2vw;
        }
        .leftside b{
            text-decoration: underline;
        }
        .titlediv{
            display:flex;
            flex-flow:row;
        }
        .title{
            padding-right:2vw;
        }
        section.s9{
            height:max-content;
        }
        section.s9 .leftside{
            color:#697881;
            margin-top:5vh;
        }
        section.s9 .leftside b{
            color:#000;
        }
        section.s10{
            height:max-content;
        }
        .imagetab1{
            margin-top:20vh;
            display:flex;
            flex-flow:row;
            justify-content:center;
            width:100vw;
        }
        .imagediv{
            width:21.5vw;
        }
        .imagepart{
            display:flex;
            justify-content:center;
        }
        .imagepart img{
            width:20vw;
            height:20vw;
        }
        .imagepart img:hover{
            opacity: 0.5;        
        }
        .textpart{
            margin-left:5%;
        }
        .textpart h1{
            font-size:2em;
            margin:0;
            font-weight:400;
        }
        .textpart p{
            letter-spacing:0.001em;
            color: #697881;
            font-size:1.2em;
            margin:0
        }
        .imagetab1:nth-child(2), .imagetab1:nth-child(3){
            margin-top:5vh;
        }
        @media (min-width:1000px) and (max-width:1300px) {
            .textpart h1{
                font-size:1.6em;
            }
            .textpart p{
                font-size:1em;
            }
            .s9 .titlediv{
                margin-top:12vh;
                padding-bottom:12vh;
            }
        }

        @media (min-width:750px) and (max-width:1000px) {
            .textpart h1{
                font-size:1.3em;
            }
            .textpart p{
                font-size:0.8em;
            }
            .s9 .titlediv{
                margin-top:8vh;
                padding-bottom:8vh;
            }
        }

        @media (max-width:750px) {
            h1.title{
                font-size:8vh;
                text-align:left;
                margin-top:-50px;
            }
            .titlediv{
                margin-top:5vh;
                flex-flow:column;
                margin-left:5vh;
            }
            .leftside{
                margin-left:20px;
            }
            .leftside p{
                font-size:3vw;
                line-height:4vw
            }
            .textpart h1{
                font-size:1.3em;
                padding-bottom:5px;
            }
            .textpart p{
                font-size:0.9em;
            }
            .imagetab1{
                flex-flow:column;
                align-items:center;
            }
            .imagepart img{
                margin-top:10vh;
                width:30vh;
                height:30vh;
            }
            .imagediv{
                width:30vh;
            }
            .imagetab1:nth-child(2), .imagetab1:nth-child(3){
                margin-top:0;
            }
        }

    section.s8
        .leftside
            .titlediv
                h1.title Our
                h1.title People
    section.s9
        .leftside
            .titlediv
                p 
                    | At Minerva MUN, we seek, attract, and celebrate
                    br
                    | student advocates who are shaped by 
                    b
                        | values,
                    br
                    b
                        | inspired
                    |  by our clients, and 
                    b
                        | driven
                    |  to succeed.
    section.s10
        .imagetab1
            .imagediv
                .imagepart
                    img(src='/team/team1/1.png')
                .textpart
                    br
                    h1 Arsh Arora
                    p Founder - Executive Chairman
            .imagediv
                .imagepart
                    img(src='/team/team1/2.png')
                .textpart
                    br
                    h1 Shourima Mishra
                    p Non - Executive Chairman
            .imagediv
                .imagepart
                    img(src='/team/team1/3.png')
                .textpart
                    br
                    h1 Aditya Raj Handa
                    p Chief Executive Office
            .imagediv
                .imagepart
                    img(src='/team/team1/4.png')
                .textpart
                    br
                    h1 Mahika Batra
                    p Chief Operating Officer
        .imagetab1
            .imagediv
                .imagepart
                    img(src='/team/team1/5.png')
                .textpart
                    br
                    h1 Krishna Verma
                    p Chief Administrative Officer
            .imagediv
                .imagepart
                    img(src='/team/team1/6.png')
                .textpart
                    br
                    h1 Anushka Sahay
                    p Chief Strategy Officer
            .imagediv
                .imagepart
                    img(src='/team/team1/7.png')
                .textpart
                    br
                    h1 Ravi Vichitra
                    p Senior Vice President
            .imagediv
                .imagepart
                    img(src='/team/team1/8.png')
                .textpart
                    br
                    h1 Prachish Dubey
                    p VP - Research
        .imagetab1
            .imagediv
                .imagepart
                    img(src='/team/team1/9.png')
                .textpart
                    br
                    h1 Priyansh Shrivastava
                    p VP - Research            
    include footer
    script.
        document.getElementById("teamnav").classList.toggle("active");
