extends layout 

block content

  #wrapper
    #skip-navigation
    .layer.layer-hero.ko.first-layer.tall
      img(src='https://www.pitblado.com/wp-content/uploads/2020/09/pitblado-people.jpg', alt='Minerva MUN People')
      .tinter(style='opacity: 0.2')
      .inner
        h1.huge
          span.mask
            span.text.text1 Our People
    .layer.layer-statement.first-layer
      .inner
        .text
          h3
            span.mask
              span.text.text1
                | At Minerva MUN, we seek, attract, and celebrate student advocates who are shaped by&nbsp;
                strong values
                | ,&nbsp;
                strong inspired
                | &nbsp;by our clients, and&nbsp;
                strong driven
                |  to succeed.
    .layer.layer-staff.cf
      .inner
        nav#staffNav
          div
        .lawyers.lawyers-isotope.four.cf
          .lawyer-tile.lawyer.business.commercial-real-estate.corporate-and-commercial.estate-planning.leasing.mergers-and-acquisitions.real-estate-and-property-development.residential-real-estate.wills-and-estate-planning.charities-and-not-for-profit.real-estate-and-property-development
            .lawyer-inner
              a
                img.attachment-headshot.size-headshot.wp-post-image(width='640', height='640', src='team/1.png', alt='Adriel Agpalza')
              p.name
                a Arsh Arora
              p.title
                | Founder - Executive Chairman
                br
          .lawyer-tile.lawyer.family.litigation-and-dispute-resolution
            .lawyer-inner
              a
                img.attachment-headshot.size-headshot.wp-post-image(width='640', height='640', src='team/team1/5.png', alt='Alexandra Aquila')
              p.name
                a Shourima Mishra
              p.title
                | Non - Executive Chairman
                br
          .lawyer-tile.partner.administrative-proceedings.alternative-dispute-resolution.civil-litigation.employment-law.employment-litigation.executive-compensation.human-rights.indigenous.judicial-reviews.labour-and-employment.labour-relations.litigation-and-dispute-resolution.professional-governance-and-regulation.respectful-workplace-issues.workers-compensation-and-workplace-safety-and-health.agribusiness.aviation.banking.cannabis.charities-and-not-for-profit.construction.entertainment.government-and-crown-corporations.healthcare.infrastructure.insurance.mines-and-minerals.professional-services.real-estate-and-property-development.technology-and-start-ups.transportation
            .lawyer-inner
              a
                img.attachment-headshot.size-headshot.wp-post-image(width='640', height='640', src='team/3.png', alt='Todd Andres')
              p.name
                a Aditya Raj Handa
              p.title
                | Chief Executive Officer
                br
          .lawyer-tile.lawyer.family.litigation-and-dispute-resolution
            .lawyer-inner
              a
                img.attachment-headshot.size-headshot.wp-post-image(width='640', height='640', src='team/team1/1.png', alt='Alexandra Aquila')
              p.name
                a Mahika Batra
              p.title
                | Chief Operating Officer
                br
          .lawyer-tile.lawyer.family.litigation-and-dispute-resolution
            .lawyer-inner
              a
                img.attachment-headshot.size-headshot.wp-post-image(width='640', height='640', src='team/team1/2.png', alt='Alexandra Aquila')
              p.name
                a Krishna Verma
              p.title
                | Chief Administrative Officer
                br
          .lawyer-tile.lawyer.family.litigation-and-dispute-resolution
            .lawyer-inner
              a
                img.attachment-headshot.size-headshot.wp-post-image(width='640', height='640', src='team/team1/3.png', alt='Alexandra Aquila')
              p.name
                a Anushka Sahay
              p.title
                | Chief Strategy Officer
                br
          .lawyer-tile.lawyer.family.litigation-and-dispute-resolution
            .lawyer-inner
              a
                img.attachment-headshot.size-headshot.wp-post-image(width='640', height='640', src='team/ravi.png', alt='Alexandra Aquila')
              p.name
                a Ravi Vichitra
              p.title
                | Senior Vice President
                br
          .lawyer-tile.lawyer.family.litigation-and-dispute-resolution
            .lawyer-inner
              a
                img.attachment-headshot.size-headshot.wp-post-image(width='640', height='640', src='team/team1/4.png', alt='Alexandra Aquila')
              p.name
                a Prachish Dubey
              p.title
                | VP, Research
                br
          .lawyer-tile.lawyer.family.litigation-and-dispute-resolution
            .lawyer-inner
              a
                img.attachment-headshot.size-headshot.wp-post-image(width='640', height='640', src='team/team1/6.png', alt='Alexandra Aquila')
              p.name
                a Priyansh Shrivastava
              p.title
                | VP, Research
                br
    .layer.layer-logofarm
      .inner
        p Honoured to be recognized by:
        |  
        img(src='recog/1.png', alt='')
        |  
        img(src='recog/2.png', alt='')
        |  
        img(src='recog/3.png', alt='')
        |  
        img(src='recog/4.png', alt='')
        |  
        img(src='recog/5.png', alt='')
        |  
        img(src='recog/6.png', alt='')
        |  
        img(src='recog/7.png', alt='')
    include footer